<!DOCTYPE html>
<html>
  <head>
    <title>YelpCamp App</title>
    <link rel='stylesheet' type='text/css' href='./assets/styles.css'>
  </head>
  <body>
    <header>
      <h1>YelpCamp App</h1>
    </header>
    