.campgrounds_container {
  display: flex;
  flex-wrap: wrap;
}

.camp_image {
  width: 100%;
}

.form_width {
  margin: 25px auto;
  width: 30%;
}

.form_heading {
  margin: 25px 0 0;
  text-align: center;
}
