.camp_image {
  width: 100%;
  margin-bottom: 1em;
}

.form_width {
  margin: 25px auto;
  width: 30%;
}

.form_heading {
  margin: 25px 0 0;
  text-align: center;
}

.img-thumbnail {
  padding: 0;
}

.delete_form {
  display: inline-block;
}

